body {
  background-color: azure;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.Loader {
  color: blue;
}

.nav {
  margin: 25px;
}


.sign-in {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}


.sign-out {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}
